.audio-trim-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  & .trim-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: color(var(--primary-dark) alpha(-65%));
    cursor: ew-resize;
  }

  & .trim-left,
  & .trim-right {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    width: var(--triangle-size);
    cursor: col-resize;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: var(--triangle-size) solid transparent;
      border-bottom: var(--triangle-size) solid transparent;
      border-left: var(--triangle-size) solid var(--primary);
    }
  }

  & .trim-left {
    left: 0;
    border-left: 1px solid var(--primary);
    &:after {
      left: 0;
    }
  }

  & .trim-right {
    left: 100%;
    transform: translateX(-100%);
    border-right: 1px solid var(--primary);

    &:after {
      right: 0;
      border-left: none;
      border-right: var(--triangle-size) solid var(--primary);
    }
  }
}
