.knob {
	position: relative;
	display: inline-block;

	&.label-bottom {
		& .knob-label {
			margin-top: -0.5em;
		}
	}

	& + .knob {
		margin-left: var(--margin-s);
	}
}

	.knob-inner {
		position: relative;
		display: block;
	}

		.knob-value {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;
		}

		.knob-label {
			display: block;
			width: 100%;
			text-align: center;
		}