.piano-wrapper {
  position: relative;
}

.octave-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
}

.black-key,
.white-key {
  cursor: pointer;
  position: absolute;
  top: 0;
  border: 1px solid #ccc;

  &.highlighted {
    border: 1px solid var(--primary);
  }

  & span {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary);
    font-size: 0.8rem;
  }
}

.white-keys {
}

.white-key {
  height: 100%;
  background-color: white;

  &.active {
    background-color: #ccc;
  }
}

.black-keys {
}

.black-key {
  height: 65%;
  background-color: black;
  transform: translateX(-50%);

  &.active {
    background-color: #888;
  }
}
