.properties-panel {
  position: absolute;
  z-index: var(--ui-z-index);
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--properties-panel-height);
  background-color: var(--shade-900);
  border-top: 1px solid var(--ui-border-color);
  box-sizing: border-box;
  transition: height 0.2s ease-in-out;

  &.collapsed {
    height: 0;
    & .properties-panel-tab {
      cursor: n-resize;
    }
  }
}

.properties-panel-tab {
  position: absolute;
  top: calc(var(--tab-height) * -1);
  left: 0;
  background-color: inherit;
  border: 1px solid var(--ui-border-color);
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
  cursor: s-resize;
}

.properties-panel-inner {
  margin: var(--padding-xs);
}
