.wire {
	position: absolute;
	fill: none;
	stroke: white;
	overflow: visible;
	color: var(--white);
	/* border: 1px solid red; */

	&.active {
		pointer-events: none;
	}

	&.valid {
		color: var(--success);
	}
}