.wire {
  position: absolute;
  fill: none;
  overflow: visible;
  color: var(--white);
  /* border: 1px solid red; */

  &.active {
    pointer-events: none;
  }

  &.audio {
    color: var(--secondary);
  }
  &.data {
    color: var(--tertiary);
  }
  &.midi {
    color: var(--primary);
  }

  &.valid {
    color: var(--success);
  }

  &.selected {
    color: var(--white);
  }

  &:not(.active) {
    & path {
      cursor: pointer;
    }
  }
}
