:root {
	--margin-xs: 0.5rem;
	--margin-s: 1rem;
	--margin-m: 1.5rem;
	--margin-l: 2rem;
	--margin-xl: 3rem;

	--padding-xs: 0.5rem;
	--padding-s: 1rem;
	--padding-m: 1.5rem;
	--padding-l: 2rem;
	--padding-xl: 3rem;

	--font-size-xs: 0.8rem;
	--font-size-s: 1rem;
	--font-size-m: 1.2rem;
	--font-size-l: 1.8rem;
	--font-size-xl: 2.4rem;

	--button-xs: 2.4rem;
	--button-s: 3rem;
	--button-m: 3.6rem;
	--button-l: 4.2rem;
	--button-xl: 4.8rem;

	--primary: rgb(74, 143, 233);
	--secondary: rgb(100, 182, 172);
	--tertiary: rgb(231, 32, 31);

	--primary-dark: color(var(--primary) blackness(65%));

	--black: rgb(0,0,0);
	--shade-100: rgb(26, 26, 26);
	--shade-200: rgb(51, 51, 51);
	--shade-300: rgb(77, 77, 77);
	--shade-350: rgb(89, 89, 89);
	--shade-400: rgb(102, 102, 102);
	--shade-500: rgb(128, 128, 128);
	--shade-600: rgb(153, 153, 153);
	--shade-700: rgb(179, 179, 179);
	--shade-750: rgb(191, 191, 191);
	--shade-800: rgb(204, 204, 204);
	--shade-850: rgb(217, 217, 217);
	--shade-900: rgb(230, 230, 230);
	--shade-950: rgb(242, 242, 242);
	--white: rgb(255,255,255);


	--vu-green: rgb(1, 166, 62);		/* 0%	*/
	--vu-greenish: rgb(102, 195, 57); 	/* 52%	*/
	--vu-yellow: rgb(249, 248, 106); 	/* 81%	*/
	--vu-orange: rgb(255, 115, 62);		/* 93%	*/
	--vu-red: rgb(235, 15, 27);			/* 100%	*/
	--vu-gradient: 
		var(--vu-green) 0%, 
		var(--vu-greenish) 52%, 
		var(--vu-yellow) 81%, 
		var(--vu-orange) 93%, 
		var(--vu-red) 100%;
	
	--vu-gradient-h: linear-gradient(to right, var(--vu-gradient));
	--vu-gradient-v: linear-gradient(to bottom, var(--vu-gradient));

}