:root {
  --header-height: 80px;
  --sidebar-width: 80px;
  --navbar-height: 40px;
  --properties-panel-height: 150px;
  --tab-width: 230px;
  --tab-height: 30px;
  --ui-border-color: var(--shade-600);
  --ui-z-index: 500;
}

.app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: none;
  height: var(--header-height);
  padding: 0 var(--padding-l);
  background: linear-gradient(to bottom, var(--shade-850) 0%, var(--shade-750) 100%);
  border-bottom: 1px solid var(--ui-border-color);
}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.main {
  flex: 1 0 auto;
  display: flex;
}

.sidebar {
  flex: none;
  width: var(--sidebar-width);
  background-color: var(--shade-850);
  border-right: 1px solid var(--ui-border-color);
}

.workspace-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: none;
  height: var(--navbar-height);
  background-color: var(--shade-700);
  border-bottom: 1px solid var(--ui-border-color);
}

.navbar-inner {
  margin: var(--padding-xs);
  display: flex;
  justify-content: space-between;
}

.navbar-left {
}

.navbar-right {
}

.navbar-spacer {
  display: inline-block;
  height: var(--button-s);
  margin: 0 1rem;
  vertical-align: top;
  border-left: 1px solid var(--shade-400);
}

.workspace {
  position: relative;
  flex: 1 1 auto;
  background-color: var(--black);
  color: var(--white);
  overflow: auto;
}

.piano-panel {
  position: relative;
  flex: none;
  height: auto;
  background-color: var(--shade-300);
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  transition: height 0.2s ease-in-out;

  &.collapsed {
    height: 0 !important;
  }
}
